.btn-default {
  margin-top: 10px;
}

.btn-danger {
  margin-top: 10px;
}

.row {
  margin-top: 50px;
}

.col-sm-4 {
  border-right: 1px solid #d9d9d9;
  padding: 2% 5%;
}

.col-sm-6 {
  border-right: 1px solid #d9d9d9;
  padding: 2% 2%;
  padding-right: 10%;
}

#store {
  padding-bottom: 0;
  margin-bottom: 0;
}
